body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.main {
    border: 4px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(138, 38, 38);
    gap: 60px;
    padding: 15px;
    border-radius: 8px;
    

}

.inputBar {
    box-sizing: border-box;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    border: 2px solid black;
    margin: 0;
    height: 60px;
    font-size: 40px;
    direction: RTL;
    border-radius: 5px;
    width: 300px;
    text-align: right;
    
}

button {
    background-color: blanchedalmond;
    height: 60px;
    width: 60px;
    padding: 0;
    margin: 0;
    font-size: 30px;
    border-radius: 8px;

}

#btnPanel {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btnSec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.btnDbl {
    width: 140px;
}
